{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django Admin AyD2') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}


{{ block.super }} 
<div align="center">
	<img src="{% static "logo.png" %}" alt="logo" style="width:150px;height:50px;/>

</div>
<div align="right">

	<p>&copy; Copyright AyD2 Usac 2016 </p>
</div>

{% endblock %}
